body {
    background-color: rgb(160, 201, 238);
}
.h {
    background: purple;
    height: 10vh;
    margin: 0 0 12px 0;
}
h1 {
    margin-top: -8px;
    color: white;
    text-align: center;
}
.wf2 input[type="date"],
.wf2 textarea,
.wf2 select

{
    display: block;
    color: red;
    margin: 10px 0 27px 0;
    width: 100%;
    background-color: #eee;
    padding: 4px;
}
.wf2 input[type="submit"] {
    border: none;
    background-color: brown;
    color: white;
    padding: 10px;
    width: 80%;
    margin: 0 0 17px 0;
    border-radius: .4rem;
}
.float {
    position: absolute;
    margin-left: 60px;
}
fieldset {
    border: none;
}
.mRadio {
    position: relative;
    margin: 13px 0 0 62px;


}
.order {
    position: absolute;
}
.space {
    margin-top: 40px;
}
.wf2 input[type="checkbox"] {
    position: relative;
    margin: 0 0 0 0;
    display: flex;
    margin-bottom: 20px;
    bottom: 13px;
}
.arrange {
    margin-left: 20px;
}
footer {
    height: 19vh;
    color: white;
    background-color: purple;
    text-align: center;
}