@media screen and (min-width: 500px) {
    body {
        display: grid;
    }
    header {
        background-color: #000;
        color: white;
    }
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
